.overlay::before{
    content:'';
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(41, 30, 88, 0) 0%, rgba(40, 40, 65, 0.5) 0%);
    cursor: pointer;
}

.overlay2::before{
    content:'';
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(41, 30, 88, 0) 0%, rgba(40, 40, 65, 0.5) 0%);
}

.parallax-container {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.parallax-content {
    position: relative;
    z-index: 1;
}

::placeholder {
    color: #ffffff86!important;
}


