html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
}

.overlay::before {
    content: '';
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(41, 30, 88, 0) 0%, rgba(40, 40, 65, 0.5) 0%);
    cursor: pointer;
}

.overlay2::before {
    content: '';
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(41, 30, 88, 0) 0%, rgba(40, 40, 65, 0.5) 0%);
}

.parallax-container {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.parallax-content {
    position: relative;
    z-index: 1;
}

::placeholder {
    color: #ffffff86 !important;
}

#map {
    width: 100%;
    height: 20vh;
}

#swiper-2 {
    width: 85%;
    height: 20%;
}

#swiper-2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#swiper-2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.change-position-prev {
    top: 61.5%;
    left: 93%;
    visibility: hidden;
}

.change-position-next {
    top: 61.5%;
    left: 97%;
    visibility: hidden;
}

.custom-alert {
    position: fixed;
    z-index: 1050 !important;
    bottom: 10px;
    right: 10px;
    display: none;
}

@media (max-width: 1395px) {
    .responsive-img {
        height: 400px;
    }
}

@media (max-width: 1199px) {
    .responsive {
        width: 50% !important;
    }

    .responsive2 {
        width: 33% !important;
    }

    .responsive3 {
        margin-top: 40px;
    }

    .responsive-button {
        width: 30% !important;
    }

    .responsive-title {
        font-size: 30px !important;
    }

    .responsive-img {
        height: 528.5px;
    }

    .change-position-prev {
        top: 61.5%;
        left: 92%;
        visibility: hidden;
    }
}

@media (max-width: 990px) {
    .responsive-title {
        font-size: 20px !important;
    }

    .responsive-text {
        font-size: 14px !important;
    }

    .responsive-warning {
        width: 70% !important;
    }

    .hidden {
        display: none;
    }

    .responsive-img {
        height: 457px;
    }

    .change-position-prev {
        top: 61.5%;
        left: 90%;
        visibility: hidden;
    }

}


@media (max-width: 766px) {
    .responsive {
        width: 100% !important;
    }

    .responsive4 {
        margin-top: 40px;
    }

    .responsive-title {
        display: none;
    }

    .responsive-text {
        display: none;
    }

    .responsive-warning {
        width: 110% !important;
    }

    .responsive-img {
        height: auto;
    }

    .change-position-prev {
        top: 61.5%;
        left: 75%;
        visibility: hidden;
    }

    .change-position-next {
        top: 61.5%;
        left: 87%;
        visibility: hidden;
    }
}